<div id="content">
Name: <%= @admin.name %><br />
Full Name: <%= @admin.full_name %><br />
Ward: <%= @admin.ward %><br />
Calling: <%= @admin.calling %><br />
Level: <%= @admin.level %><br />

Created: <%= @admin.created_at.strftime("%B %d, %Y at %l:%M %p") %><br />
Updated: <%= @admin.updated_at.strftime("%B %d, %Y at %l:%M %p") %><br />
<br />
Currently logged in on <%= @admin.sessions.size %> computer(s).
</div>