<% form_for(@user) do |f| %>
  <%= f.error_messages %>
<div class="span-7">
<fieldset>
	<legend>Personal Information:</legend>
  <p>
    <%= f.label :fname, "First Name" %><br />
    <%= f.text_field :fname %>
  </p>
  <p>
    <%= f.label :mname, "Middle Name" %><br />
    <%= f.text_field :mname %>
  </p>
  <p>
    <%= f.label :lname, "Last Name" %><br />
    <%= f.text_field :lname %>
  </p>
</fieldset>
</div>
<div class="span-7">
<fieldset>
	<legend>Contact Information</legend>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
</fieldset>
</div>
<fieldset>
	<legend>Registration Information</legend>
	<p>
		<%= f.label :ward, "What ward are you in?" %><br />
		<%= f.select :ward, list_of_wards, {:include_blank => true}  %>
	</p>
	<p>
		<%= f.label :youth_adult, "Are you a youth or adult leader?" %><br />
		<%= f.select :youth_adult, y_or_a, {:include_blank => true} %>
	</p>
	<p>
		<%= f.label :adult_type, "If Adult Leader, what type?" %><br />
		<%= f.select :adult_type, adult_type_list, {:include_blank => true} %>
	</p>
	<p>
	  <%= f.label :birthday %><br />
	  <p>You must be 14 before April 11, 2009 in order to attend this years youth conference.</p>
	  <%= f.date_select :birthday, :start_year => 1900, :end_year => 1995, :default => 14.years.ago %>
	</p>
</fieldset>

<fieldset class="clear">
	<legend>Group Preference</legend>
	  <p>
		Please give us the <em>Full Name</em> and <em>Ward</em> of three people
		you would like to be in the same group with you.  We will try to make
		sure that you are in the same group as at least one of them.
	  </p>
	<div class="span-7">  
	  <p>
		<%= f.label :choice1, "First Choice" %><br />
	    <%= f.text_field :choice1 %>
	  </p>
	  <p>
	  	<%= f.label :choice1_ward, "Ward" %><br />
	    <%= f.select :choice1_ward, list_of_wards, {:include_blank => true}  %>
	  </p>
	</div>
	<div class="span-7">
	  <p>
	    <%= f.label :choice2, "Second Choice" %><br />
	    <%= f.text_field :choice2 %>
	  </p>
	  <p>
	  	<%= f.label :choice2_ward, "Ward" %><br />
	    <%= f.select :choice2_ward, list_of_wards, {:include_blank => true}  %>
	  </p>
	</div>
	<div class="last">
	  <p>
	    <%= f.label :choice3, "Third Choice" %><br />
	    <%= f.text_field :choice3 %>
	  </p>
	  <p>
	  	<%= f.label :choice3_ward, "Ward" %><br />
	    <%= f.select :choice3_ward, list_of_wards, {:include_blank => true}  %>
	  </p>
	</div>

</fieldset>
<fieldset>
	
<legend>Optional Youth Conference T-shirt</legend>

<p>The cost of the T-shirts is $7.00.  Money for T-shirts need to be received by your ward no later than March 15th.</p>
<p>To pay for your T-Shirt complete a Ward Donation slip and write in the category marked OTHER the following, "2009 YC T-shirt". </p>
<p>Enclose a check or cash in the donation envelop and give to a member of your Bishopric.</p>
<p>T-shirts will be distributed at the conclusion of Youth Conference.</p>
<p> 
<%= f.label :tshirt_agreement, "I would like a Youth Conference T-shirt. I will pay $7.00 to my Ward by March 15, 2009" %>
<%= f.select :tshirt_agreement, tshirt_options, {:include_blank => true}  %> 
</p>
<p>
<%= f.label :tshirt_size, "T-shirt size" %>
<%= f.select :tshirt_size, size_options, {:include_blank => true}  %>
</p>
</fieldset>
<p class="clear">
  <%= f.submit "Submit" %>
</p>
<% end %>
