<div id="content">
<h1>Listing users</h1>

Total Users Registered: <%= User.count %>

<table>
  <tr>
    <th>Name</th>
	<th>Ward</th>
	<th>Y/A</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Birthday</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%= link_to user.short_name, user %></td>
    <td><%=h user.ward %></td>
    <td><%=h user.y_a_short %></td>
    <td><%=h user.phone %></td>
    <td><%=h user.email %></td>
    <td><%=h user.birthday %></td>
    <td>
    	<%= link_to 'Edit', edit_user_path(user) %>
    	<%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
</div>