<div id="content">
	<h1>Details for <%=h @user.full_name %></h2>
	<h3><%=h @user.y_a_phrase %> from the <%=h @user.ward %></h3>

	<h2>Contact Information</h2>
	<p>
	  <b>Phone:</b>
	  <%=h @user.phone %>
	</p>

	<p>
	  <b>Address:</b><br />
	  <%=h @user.address %><br />
	  <%=h @user.city %>, TX <%=h @user.zip %>
	</p>

	<p>
		<b>Email:</b>
		<a href="mailto:<%=h @user.email %>"><%=h @user.email %></a>
	</p>
	<h2>Group Preferences:</h2>
	<ol>
		<li><%=h @user.choice1 %> &mdash; <%=h @user.choice1_ward %></li>
		<li><%=h @user.choice2 %> &mdash; <%=h @user.choice2_ward %></li>
		<li><%=h @user.choice3 %> &mdash; <%=h @user.choice3_ward %></li>
	</ol>

<p>
  <b>Birthday:</b>
  <%=h @user.birthday %>
</p>
<p>
	<b>Want's a Shirt?</b>
	<%=h @user.tshirt_agreement %>
</p>
<p>
	<b>If so, what size?</b>
	<%=h @user.tshirt_size %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>