<div id="content">
<p>
  <b>Name:</b>
  <%=h @user.full_name %>
</p>
<p>
	<b>Ward</b>
	<%=h @user.ward %>
</p>
<p>
	<b>Youth or Adult?</b>
	<%=h @user.youth_adult %>
</p>
<p>
  <b>Class or quorum:</b>
  <%=h @user.class_or_quorum %>
</p>

<p>
  <b>Phone:</b>
  <%=h @user.phone %>
</p>

<p>
  <b>Address:</b>
  <%=h @user.address %>
</p>

<p>
  <b>City:</b>
  <%=h @user.city %>
</p>

<p>
  <b>Zip:</b>
  <%=h @user.zip %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Choice1:</b>
  <%=h @user.choice1 %>
</p>

<p>
  <b>Choice2:</b>
  <%=h @user.choice2 %>
</p>

<p>
  <b>Birthday:</b>
  <%=h @user.birthday %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>